<h1><%= @task.title %></h1>
<p><blockquote><%= @task.details %></blockquote></p>
<p>
  <% if @task.completed %>
    <i class="fa-regular fa-square-check"></i> All done
  <% else %>
    <i class="fa-regular fa-square"></i> Still gotta do it
  <% end %>
</p>

<hr>

<p><%= link_to "Edit", edit_task_path(@task) %></p>
<p><%= link_to "Delete",
  task_path(@task),
  data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure you want to delete the '#{@task.title}' task?"
  }
%></p>
<p><%= link_to "Go home", tasks_path %></p>
